body {
    padding-top: 70px;
    background-color: black;
    font-family: cursive;
}

.glow {
    font-size: 70px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  
  @-webkit-keyframes glow {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #D50202, 0 0 40px #FF7D22, 0 0 50px #0C7E1C, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #848181, 0 0 30px #2F213C, 0 0 40px #CEF820, 0 0 50px #310405, 0 0 60px #97CC8C, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }